html {
margin: 20px;
padding: 10px;
background-color: red ;
}

body {
margin: 30px;
padding: 20px;
background-color: blue ;
}

main {
display: flex;
justify-content: center; /* Centraliza horizontalmente */
background-color: yellow;
}

div {
background-color: white;
width: 800px;
margin: 20px;
text-align: center;
font-size: 30px;
}

.title {
background-color: PaleGreen;
}

.sub-title {
background-color: SeaShell;
}

canvas {
margin: 10px;
padding: 10px;

}

h1 {
color: purple;
}

h2 {
color: LawnGreen;
text-align: center;
}

span {
color: violet;
}
